altgraph==0.17.2
appdirs==1.4.4
attrs==21.2.0
audioread==2.1.9
bidict==0.21.4
certifi==2021.5.30
cffi==1.15.0
charset-normalizer==2.0.9
click==8.0.3
colorama==0.4.4
dataclasses @ file:///home/conda/feedstock_root/build_artifacts/dataclasses_1628958435052/work
decorator==5.1.0
dnspython==2.1.0
eventlet==0.33.0
filelock==3.4.0
Flask==2.0.2
Flask-Cors==3.0.10
Flask-SocketIO==5.1.1
future==0.18.2
gevent==21.8.0
greenlet==1.1.2
h11==0.12.0
huggingface-hub==0.2.1
hypothesis==6.30.1
idna==3.3
importlib-metadata==4.8.2
intel-openmp==2022.0.0
itsdangerous==2.0.1
Jinja2==3.0.3
joblib==1.1.0
kenlm @ https://github.com/kpu/kenlm/archive/master.zip
librosa==0.8.1
llvmlite==0.36.0
MarkupSafe==2.0.1
msgpack==1.0.3
numba==0.53.1
numpy @ file:///D:/bld/numpy_1626682185159/work
olefile @ file:///home/conda/feedstock_root/build_artifacts/olefile_1602866521163/work
packaging==21.3
pefile==2021.9.3
Pillow @ file:///D:/bld/pillow_1630696770108/work
pooch==1.5.2
PyAudio==0.2.11
pycparser==2.21
pyctcdecode==0.1.0
pygtrie==2.4.2
pyinstaller==4.7
pyinstaller-hooks-contrib==2021.4
pyparsing==3.0.6
pythainlp==2.3.2
python-crfsuite==0.9.7
python-engineio==4.3.0
python-socketio==5.5.0
pywin32-ctypes==0.2.0
PyYAML==6.0
pyzmq==22.3.0
regex==2021.11.10
requests==2.26.0
resampy==0.2.2
sacremoses==0.0.46
scikit-learn==0.24.2
scipy==1.5.4
simple-websocket==0.5.0
six==1.16.0
sortedcontainers==2.4.0
SoundFile==0.10.3.post1
SpeechRecognition==3.8.1
threadpoolctl==3.0.0
tinydb==4.5.2
tokenizers==0.10.3
torch==1.10.0
torchaudio==0.10.0
torchvision==0.11.1
tqdm==4.62.3
transformers==4.13.0
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1638334978229/work
urllib3==1.26.7
webrtcvad==2.0.10
Werkzeug==2.0.2
wincertstore==0.2
wsproto==1.0.0
zerorpc==0.6.3
zipp==3.6.0
zope.event==4.5.0
zope.interface==5.4.0
