/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
body {
  position: relative;
  color: white;
  min-height: 100vh;
  background: #232526;
  background: -webkit-linear-gradient(to right, #232526, #414345);
  background: linear-gradient(to right, #232526, #414345);
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
}

.mainBtn {
  background-color: white;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 10px;
  border: none;
  appearance: none;
  font-size: 2rem;
  box-shadow: 0px 8px 28px -6px rgba(24, 39, 75, 0.12),
    0px 18px 88px -4px rgba(24, 39, 75, 0.14);
  transition: transform ease-in 0.1s;
  cursor: pointer;
}

.mainBtn:hover {
  transform: scale(1.05);
}

.disableBtn {
  background-color: white;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 10px;
  border: none;
  appearance: none;
  font-size: 2rem;
  box-shadow: 0px 8px 28px -6px rgba(24, 39, 75, 0.12),
    0px 18px 88px -4px rgba(24, 39, 75, 0.14);
  transition: transform ease-in 0.1s;
  opacity: 0.5;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

a:hover {
  opacity: 1;
  text-decoration: none;
  cursor: pointer;
}

.home-container {
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: black;
}

.header-title {
  font-size: 5em;
  color: white;
}

.setting-container {
  display: flex;
  min-width: 95vw;
  justify-content: space-between;
  padding: 12px;
  align-items: flex-end;
}

.header {
  margin: 12px;
}

.textfield {
  margin: 12px;
}

.macro-list-container {
  width: 30rem;
  height: 50vh;
  overflow: auto;
}

.macro-item-container {
  background-color: white;
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 12px;
  border-radius: 10px;
  font-size: 1rem;
  box-shadow: 0px 8px 28px -6px rgba(24, 39, 75, 0.12),
    0px 18px 88px -4px rgba(24, 39, 75, 0.14);
  transition: transform ease-in 0.1s;
  cursor: pointer;
}

.macro-item-container:hover {
  transform: scale(1.05);
}

.controller {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 12px;
}

.container {
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.topbar {
  position: absolute;
  top: 0;
  left: 0;
  padding: 1.5em;
}

.back-btn {
  cursor: pointer;
}

.waiting-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

.wait-logo {
  background: black;
  border-radius: 50%;
  margin: 10px;
  height: 30vh;
  width: 30vh;

  box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
  transform: scale(1);
  animation: pulse 2s infinite;
}

.waiting-bg > h1 {
  color: white;
  font-size: 3rem;
}
